.org {color:blue}
.colorC {color:blue}
.plc {color:orange}
.colorL {color:orange}
.per {color:darkgreen}
.colorN {color:darkgreen}
.grey{color:grey}
.red{color:red; font-weight: bold;}

body{
	font-family: 'Sarabun';
	scroll-behavior: smooth;
	background-color:rgba(255, 255, 255, 0.7);
	background-blend-mode:lighten;
}

.vertical, .vertical{
	vertical-align: middle;
}
th.center, td.center{
	text-align: center!important;
}
td.copy:hover{
	cursor: pointer;
}


code:hover{cursor: pointer;}

li.data_source{
	font: 1.2em;
	display: inline-block;
	background-color: #d1d1d1;
	border-radius: 5px;
	padding: 0.2em 0.5em;
	margin:0em 0.3em;
}
