{% extends "layout.html" %}
{% block content %}


<br>
<main role="main" id="container_adminpage">
	<section class="text-center">	
		<div class="container mb-4">

			<!-- TEST FORM -->
			<table id="table" class="table table-hover mt-2">
				<thead class="thead-dark">
					<tr class="">
						<th data-field="date">date</th>
						<th data-field="id">ID</th>
						<th data-field="age">age</th>
						<th data-field="gender">gender</th>
						<th data-field="stimulus">stimulus</th>
						<th data-field="naturarity">naturality</th>
						<th data-field="is_stimulus" data-filter-control="select">is_stimulus</th>
					</tr>
				</thead>
				
				<tr v-for="row in result">
					<th>{{row[0]}}</th>
					<th>{{row[1]}}</th>
					<th>{{row[2]}}</th>
					<th>{{row[3]}}</th>
					<th>{{row[4]}}</th>
					<th>{{row[5]}}</th>
					<th>{{row[6]}}</th>
				</tr>
				
			</table>

		</div>
	</section>
</main>

<script type="text/javascript">

	var vue = new Vue({
		el: '#container_adminpage',
		data: {
			result: (( result | tojson )), // from Flask
		}
	})

</script>

{% endblock %}