{% extends "layout.html" %}
{% block content %}


<br>
<main role="main" id="container_testpage">
	<section class="text-center">
		
		<!-- INSTRUCTION -->
		<div class="container mb-4">
			<h2>Instructions</h2>
			<p class="text-muted">
				1. กด START TEST<br>
				2. ใส่ข้อมูล: ชื่อ อายุ เพศ<br>
				3. ประโยคภาษาไทยจะแสดงด้านล่าง<br>
				4. ให้เลือกความธรรมชาติ (1-5) ของประโยคนั้น <br> 
				5. มีทั้งหมด 10 ข้อ
			</p>
			<!-- START BUTTON -->
			<button class="btn btn-primary mb-2" style="width: 80%; height:60px; font-size: 1.3em;" v-show="show_start_button" data-toggle="modal" data-target="#modal_input">
				START TEST
			</button>

			<!-- INPUT FORM : MODAL -->
      <div class="modal fade" id="modal_input" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                <span>Please fill your information</span>
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">รหัส</span>
								</div>
								<input type="text" class="form-control" v-model="id" required>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">อายุ</span>
								</div>
								<select class="form-control" v-model="age" required>
									<option value="">- เลือก -</option>
									<option value="under20"> - 20</option>
									<option value="20">20 - 29</option>
									<option value="30">30 - 39</option>
									<option value="40">40 - 49</option>
									<option value="50">50 - 59</option>
									<option value="over60">60 - </option>
								</select>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">เพศ</span>
								</div>
								<select class="form-control" v-model="gender" required>
									<option value="">- เลือก -</option>
									<option>เพศหญิง</option>
									<option>เพศชาย</option>
									<option>อื่นๆ</option>
									<option>ไม่ระบุ</option>
								</select>
							</div>
							<p>
								***consent form***<br>
								<br>
							</p>
            </div>
						<div class="modal-footer">
							<button class="btn btn-danger" style="width: 100%;" onclick="start_test();">
								CONFIRM and START
							</button>
						</div>
          </div>
        </div>
      </div>
		</div>

		<!-- TEST FORM -->
		<div class="container" v-show="show_testform">
			<div class="card">
				<div class="card-header">
					<h4>ประโยคที่ {{stimulus_no}}</h4>
				</div>
				<div class="card-body">
					<h2>{{stimuli[stimulus_no-1]}}</h2>
				</div>
				<div class="card-footer">
					ไม่ธรรมชาติ
					<div class="form-check form-check-inline ml-2">
						<input class="form-check-input" type="radio" name="naturarity" v-model="naturality" value="1">
						<label class="form-check-label" for="inlineRadio1">1</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="naturality" v-model="naturality" value="2">
						<label class="form-check-label" for="inlineRadio2">2</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="naturarity" v-model="naturality" value="3">
						<label class="form-check-label" for="inlineRadio2">3</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="naturarity" v-model="naturality" value="4">
						<label class="form-check-label" for="inlineRadio2">4</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="naturarity" v-model="naturality" value="5">
						<label class="form-check-label" for="inlineRadio2">5</label>
					</div>
					ธรรมชาติ
					<button class="btn btn-primary my-2 mx-4" style="font-size: 1.3em;" onclick="push_answer();">Next</button>
				</div>
			</div>
		</div>

	</section>
</main>

<script type="text/javascript">

	var vue = new Vue({
		el: '#container_testpage',
		data: {
			show_start_button: true,
			show_testform: false,
			stimulus_no: 1,
			stimuli: (( stimuli | tojson )), // from Flask
			id: '',
			age: '',
			gender: '',
			naturality: '',
			answers: []
		},
		method: {

		}
	})

	function start_test(){
		// validate form
		if(vue.id==''|vue.age==''|vue.gender==''){
			window.alert("ข้อมูลไม่ครบ");
		}
		else{
			$('#modal_input').modal('hide');
			vue.show_start_button = false;
			vue.show_testform = true;
		}
	}

	function push_answer(value){	
		if(vue.stimulus_no == vue.stimuli.length){
			send_ajax();
		}else{
			vue.stimulus_no += 1;
			vue.answers.push(vue.naturality);
			vue.naturality = '';
		}
	}

	function send_ajax(){
		// make POST parameters
		var data_to_send = {
				"id": vue.id,
				"age": vue.age,
				"gender": vue.gender,
				"stimuli": vue.stimuli,
				"answers": vue.answers
			};
		// send AJAX
		$.ajax({
			data : data_to_send,
			type: "POST",
			dataType: "json",
			cache: false,
			timeout: 5000,
			url : "/"
		}).done(function(returnData){
			window.alert("จบแล้วครับ ขอบคุณมากครับ");
			location.reload();
		}).fail(function(){ // when fail to connect 
			location.reload();
		});
	}
</script>

{% endblock %}